
.top-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px; 
    background-color: #1a1a1d;
    width: 50vw; 
    margin: 20px auto;
}


.btn {
    padding: 10px 20px; 
    font-size: 1rem; 
    font-weight: bold; 
    text-transform: uppercase; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s, box-shadow 0.3s; 
    cursor: pointer; 
  }

/* BUTTON to add repositories */
.btn-add-repo {
    background-color: #950740;
    color: white;
    border: none;
}

/* BUTTON to see invitations to other repositories */
.btn-view-invites {
    background-color: #950740;
    color: white;
    border: none;
}

/* Hover effect for both buttons */
.btn:hover {
    background-color: #a50b50; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
  }
  
  /* Styles for the search input */
  .form-control {
    border: 2px solid #ccc; /* Adds border to the input */
    border-radius: 5px; /* Rounded corners for the input */
    padding: 5px 10px; /* Padding inside the input */
    margin-right: 10px; /* Adds margin to the right of the input */
    width: 21vw;
  }


.container{
    width: 60vw;
    background-color: #4e4050;
    border-radius: 50px;
    padding: 30px;
}


.repository{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px; 
    background-color: #1a1a1d;
    width: 50vw; 
    margin: 30px auto;
    border-radius: 25px;
    background-color: #d9d9d9;
}


.repository .no-results h1{
    font-size: 1.5rem;
    font-weight: bold;
    color: #1a1a1d;
}

.repository h1:hover{
    cursor: pointer;
    opacity: 0.8;
}

.delete-repo{
  height: 25px;
  width: auto;
}

.delete-repo:hover{
  cursor: pointer;
  opacity: 0.8;
}

/* for non-searched elements dissapear */
.hide {
  display: none;
}


/* for info-container */
.show-info{
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 24vh;
  width: 24vw;
  transform: translate(-50%, -50%);
  background-color: #c3073f;
  padding: 20px; /* Add padding for better visibility */
  z-index: 999; /* Ensure it's on top of other elements */
  border: 1px solid #ccc; /* Add a border if desired */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a shadow for depth */
}

.no-results{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px; 
  background-color: #1a1a1d;
  width: 50vw; 
  margin: 30px auto;
  border-radius: 25px;
  background-color: #d9d9d9;

}
.no-results h1 {
  flex: 1; 
  margin-bottom: 30px; 
}
.img-no-results{
  height: 100px;
  width: auto;
}