
.top-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px; 
    background-color: #1a1a1d;
    width: 58vw; 
    margin: 20px auto;
}


.btn {
  padding: 10px 20px; 
  font-size: 1rem; 
  font-weight: bold; 
  text-transform: uppercase; 
  border-radius: 5px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s, box-shadow 0.3s; 
  cursor: pointer; 
  }

/* BUTTONs */
.btn-add-repo, .btn-view-invites, .btn-logout {
    background-color: #950740;
    color: white;
    border: none;
}



.btn:hover {
    background-color: #a50b50; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}
  

.form-control {
  border: 2px solid #ccc; 
  border-radius: 5px; 
  padding: 5px 10px; 
  margin-right: 10px; 
  width: 21vw;
}


.container{
    width: 60vw;
    background-color: #4e4050;
    border-radius: 50px;
    padding: 30px;
    margin-bottom: 30px;
}


.repository{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px; 
    background-color: #1a1a1d;
    width: 50vw; 
    margin: 30px auto;
    border-radius: 25px;
    background-color: #d9d9d9;
}

.repository:hover{
    cursor: pointer;
    opacity: 0.8;
}


.repository .no-results h1{
    font-size: 1.5rem;
    font-weight: bold;
    color: #1a1a1d;
}

.repository h1:hover{
    cursor: pointer;
    opacity: 0.8;
}

.delete-repo{
  height: 25px;
  width: 25px;
}

.delete-repo:hover{
  cursor: pointer;
  opacity: 0.8;
}

/* for non-searched elements dissapear */
.hide {
  display: none;
}



.no-results{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px; 
  width: 50vw; 
  margin: 30px auto;
  border-radius: 25px;
  background-color: #d9d9d9;

}
.no-results h1 {
  flex: 1; 
  margin-bottom: 30px; 
}
.img-no-results{
  height: 100px;
  width: auto;
}


