body {
    background-color: #1a1a1d;  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
}

.content {
    background-color: #c3073f;
    color: white;
    padding: 20px;
    text-align: center;
    width: 40%;
    border-radius: 20px; 
    margin: 0 auto;
}

.content > div {
    display: block; 
    margin-bottom: 10px; 
}

.content h1 {
    font-size: 3rem;
}

.content h2 {
    font-size: 2rem;
}