.new_repository {
  background-color: #4e4050;
  border-radius: 25px;
  height: 60%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
}

.content {
  padding: 20px;
  width: 100%;
  height: 90%;
  /* max-height: 100; */
  /* margin: 20px auto; */
  /* overflow: auto;  */
}   

.content h2 {
  color: white;
  text-align: center;
  margin-bottom: 70px;
  margin-top: 0;
}

.content-add-repo{
  height: 50%;
}

.form-group {
  margin-bottom: 20px;
  color: #f8f0e5;
  display: flex; 
  align-items: center; 
  justify-content: center;
  width: 100%;
  height: 10%;
  margin: 70px auto
}

.form-group input[type="text"],
.content textarea {
  width: 100%;
  padding: 10px;
  /* margin-bottom: 10px; */
  border: 1px solid #ddd;
  border-radius: 20px;
  /* box-sizing: border-box;  */
}

.form-group button {
  background-color: #950740;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}


.path-selector {
  display: flex;
  align-items: center;
}
  

.checkbox-group {
  margin-bottom: 15px;
  margin-top: px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  /* margin: 10 auto; */
}


.checkbox-group input[type="checkbox"] {
  margin-right: 5px;
}

.form-actions {
  text-align: center;
}

.create-btn,
.back-btn {
  background-color: #950740;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  margin-right: 20px;
  width: 20%;
}


.back-btn:hover, .create-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 1280px){

  .new_repository {
    width: 70%;
  }

}

/* for max height */
@media screen and (max-height: 800px){

  .new_repository {
    height: 90%;
  }

}