body {
    background-color: #1a1a1d;  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
    margin: 0;
}

.content {
    background-color: #c3073f;
    color: white;
    padding: 20px;
    text-align: center;
    width: 40%;
    border-radius: 20px; 
    margin: 0 auto;
}

.content > div {
    display: block; /* Display each div as a block element */
    margin-bottom: 10px; /* Add some spacing between the divs */
}

.content h1 {
    font-size: 3rem;
}

.content h2 {
    font-size: 2rem;
}