.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.img-exclamation {
  margin-top: 20px;
  height: 30px;
  width: auto;
}

.modal-content {
  background-color: #c3073f;
  color: white;
  width: 24vw;
  height: 100%;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-row {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.modal-header h2 p {
  margin: 0;
}

.modal-footer {
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 10px;
  background-color: #950740;
}
