.top-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a1a1d;
    width: 70vw; 
    margin: 20px auto;
    margin-left: 8vw;
}

.buttons-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%; 
}


.btn span {
  display: flex;
  align-items: center;
}


.btn-add-people, .btn-settings{
  width: 180px;
  margin-right: 10px;
}

.img-back{
  width: 30px;
  margin-right: 20px;
}

.form-control {
    border: 2px solid #ccc; 
    border-radius: 5px; 
    padding: 5px 10px; 
    width: 21vw;
}

  

.btn {
    padding: 10px 20px; 
    font-size: 1rem; 
    font-weight: bold; 
    text-transform: uppercase; 
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s, box-shadow 0.3s; 
    cursor: pointer; 
    background-color: #950740;
    color: white;
    border: none;
  }

.btn-refresh {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 80px;
  width: 80px;
}


.btn:hover {
    background-color: #a50b50; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}


.back-arrow{
    color: white;
    background-color: white;
}


.img-refresh{
    width: 80px;
    height: 80px;
}



.container{
  margin-top: 20px;
  width: 60vw;
  background-color: #4e4050;
  border-radius: 50px;
  padding: 30px;
  margin-bottom: 30px;
}
