body {
    background-color: #1a1a1d;  
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
}
.header {
    background-color: #c3073f;
    color: white;
    padding: 20px;
    text-align: center;
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 75% 100%);
    height: 17vh;
    width: 84%;
    border-bottom-right-radius: 15%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    font-size: 3rem;
    margin: 0;
}

.user-image{
    margin-top: 20px;
    margin-right: 40px;
    height: 15vh;
    width: 15vh;
    border-radius: 20%;
    background-color: white;
}

.profile-pic{
    width: 100%;
    height: 100%;
    border-radius: 20%;
}

.profile-pic:hover{
    opacity: 0.8;
    cursor: pointer;
}


#flash-messages {
    position: fixed;
    top: 0px; 
    width: 100%;
    z-index: 1000; 
}


.alert {
    margin-bottom: 10px; 
}

@media screen and (max-width: 1280px){

    .header h1 {
        font-size: 4rem;
    }

    .user-image {
        height: 12vh;
        width: 12vh;
    }


}

@media screen and (max-width: 780px){
    /* .header {
        height: 20vh;
    } */
    .header h1 {
        font-size: 2rem;
    }
    /* .user-image {
        height: 10vh;
        width: 10vh;
    } */
}

@media screen and (max-width: 600px){

    .user-image {
        display: none;
    }
}