

.top-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a1a1d;
    width: 85vw; 
    margin: 20px auto;
    margin-left: 8vw;
    flex-wrap: wrap;
}

#pushButton{
  border: 2px solid black;
  margin-left: 40%;
}

 
.buttons-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%; 
  margin-right: 30px;
}

.buttons-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.btn span {
  display: flex;
  align-items: center;
}


.btn-add-people, .btn-settings{
  width: 180px;
  margin-right: 10px;
}

.img-back{
  width: 30px;
  margin-right: 20px;
}

.form-control {
    border: 2px solid #ccc; 
    border-radius: 5px; 
    padding: 5px 10px; 
    width: 21vw;
}

  

.btn {
    padding: 10px 20px; 
    font-size: 1rem; 
    font-weight: bold; 
    text-transform: uppercase; 
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s, box-shadow 0.3s; 
    cursor: pointer; 
    background-color: #950740;
    color: white;
    border: none;
  }

.btn-refresh {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 80px;
  width: 80px;
}


.btn:hover {
    background-color: #a50b50; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}


.back-arrow{
    color: white;
    background-color: white;
}


.img-refresh{
    width: 80px;
    height: 80px;
}



.container{
  margin-top: 20px;
  width: 60vw;
  background-color: #4e4050;
  border-radius: 50px;
  padding: 30px;
  margin-bottom: 30px;

}


.container h1{
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  justify-content: center;
  text-align: center;
}



.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  padding: 30px; 
  justify-items: center; 
}

.content-box, .content-box-new, .content-box-deleted{
  height: 220px;
  width: 220px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  padding: 25px; 
  margin-bottom: 30px;
  border-radius: 25px;
  transition: opacity 0.3s ease; 
  margin-top: 20px;
  min-width: 0; 
  word-wrap: break-word;
  border: 2px solid black;
}


.content-box{
  background-color: #d9d9d9;
}

.content-box-new{
  /* background: linear-gradient(green, #d9d9d9); */
  background-color: green;
}

.content-box-deleted{
  /* background: linear-gradient(#950740, #d9d9d9); */
  background-color: #c3073f;
}
.content-box:hover, .content-box-new:hover, .content-box-deleted:hover{
  cursor: pointer;
  opacity: 0.8;
}

.delete-file, .delete-folder{
  margin-top: 10px;
  height: 25px;
  width: auto;
}

.content-box h1, .content-box-new h1, .content-box-deleted h1{
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  max-width: 90%;
}

.content-box h2, .content-box-new h2, .content-box-deleted h2{
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
  margin-top: 30px;
}

#folder{
  background-color: #950740;
}
#new-file{
  background-color: #d9d9d9;
  border: 3px dashed #1a1a1d;
}

#new-file h2{
  margin-top: 10px;
}

#new-file:hover{
  background-color: #950740;
}
.img-content-new{
  height: 70%;
  width: auto;
}


.img-content{
  height: 35px;
  width: auto;
}

.img-content:hover{
  cursor: pointer;
  opacity: 0.8;
}



.no-results{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px; 
  background-color: #1a1a1d;
  width: 50vw; 
  margin: 30px auto;
  border-radius: 25px;
  background-color: #d9d9d9;

}
.no-results h1 {
  flex: 1; 
  margin-bottom: 30px; 
  font-size: 1.5rem;
  font-weight: bold;
  color: #1a1a1d;
}
.img-no-results{
  height: 100px;
  width: auto;
}

/* for non-searched elements dissapear */
.hide {
  display: none;
}

.dropzone .dz-message {
  display: none;
}


.hide {
  display: none;
}




/* for smaller sceens*/
@media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* 2 cols */
  }
}

@media (max-width: 800px) {
  .grid-container {
    grid-template-columns: 1fr; /* 1 col */
  }
}