{% extends 'base.html' %}

{% block title %}Add{% endblock %}

{% block styles %}
<link rel="stylesheet" href="../static/css/style_add.css">
{% endblock %}

{% block js %}
<script src="../static/js/add.js" defer></script>
{% endblock %}

{% block content %}

<div class="new_repository">
    <div class="content">
        <h2>NEW REPOSITORY</h2>
        <form>
            <div class="form-group">
                <input type="text" id="project-name" placeholder="Project Name">
            </div>
            <div class="form-group">
                <textarea id="description" placeholder="Description"></textarea>
            </div>
            <div class="checkbox-group">
                <input type="checkbox" id="add-readme">
                <label for="add-readme">Add Descriptive file</label>
            </div>
            <div class="checkbox-group">
                <input type="checkbox" id="make-private">
                <label for="make-private">Make Private</label>
            </div>
            <div class="form-actions">
                <button type="submit" class="create-btn" id="createButton">CREATE</button>
                <button type="button" class="back-btn" id="backButton">BACK</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
