<div class="modal">
  <div class="modal-content">
    <div class="modal-row">
      <img src="../static/images/exclamation.svg" alt="Exclamation mark" class="img-exclamation">
    </div>
    <div class="modal-row">
      <h2>ARE YOU SURE YOU WANT TO DELETE THIS REPOSITORY?</h2>
    </div>
    <div class="modal-row">
      <p>The contents of the repository will be lost</p>
    </div>
    <div class="modal-row">
      <div class="modal-footer">
        <button class="btn remove">Remove</button>
        <button class="btn back">Back</button>
      </div>
    </div>
  </div>
</div>
