{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block styles %}<link rel="stylesheet" href="../static/css/style_home.css">{% endblock %}
{% block content %} 


  <br />
<div class ="top-options">
  <input class="form-control mr-sm-2" type="search" placeholder="Search repository" aria-label="Search">
  <button class="btn btn-add-repo">ADD REPOSITORY</button>
  <button class="btn btn-view-invites">VIEW INVITATIONS</button>
</div>


<div class="container">
  {% if repositories %}
    {% for repository in repositories %}
        <div class="repository">
            <h1>{{ repository }}</h1>    
            <img src="../static/images/trash-bin.svg" alt="Delete repository" class="delete-repo">    
        </div>
    {% endfor %}
  {% else %}
    <div class="alert alert-info" role="alert">
        <strong>Info!</strong> You don't have any repositories yet.
    </div>
  {% endif %}
</div>

{% endblock %}