{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{url_for ('static', filename='css/style_home.css')}}">
<link rel="stylesheet" href="{{url_for ('static', filename='css/style_new_window.css')}}">
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/home.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/delete-info.js') }}" defer></script>
{% endblock %}

{% block content %} 


<br />
<div class ="top-options">
  <input class="form-control mr-sm-2" type="search" placeholder="Search project" aria-label="Search" data-search>
  <button class="btn btn-add-repo" id="addRepo">ADD NEW PROJECT</button>
  <button class="btn btn-view-invites" id="viewInvitations">VIEW INVITATIONS</button>
  <button class="btn btn-logout" id="logout">LOGOUT</button>
</div>


<!-- delete-info -->

<div id="modal-content" class="hide">
  <div class="modal-row">
      <img src="../static/images/exclamation.svg" alt="Exclamation mark" class="img-exclamation">
  </div>
    <div class="modal-row">
      <h2>ARE YOU SURE YOU WANT TO DELETE THIS PROJECT?</h2>
    </div>
    <div class="modal-row">
      <p>The contents of the project will be lost</p>
    </div>
    <div class="modal-row">
      <div class="modal-footer">
        <button class="btn remove" id="remove">Remove</button>
        <button class="btn back" id="back">Back</button>
      </div>
    </div>
</div>




<div class="container">
  {% if repositories %}
    {% for repository in repositories %}
        <div class="repository" data-repo-name="{{ repository }}">
            <h1 class="repository-name">{{ repository }}</h1>    
            <img src="../static/images/trash-bin.svg" alt="Delete repository" class="delete-repo">    
        </div>
    {% endfor %}
  {% else %}
    <div class="alert alert-info" role="alert">
        <strong>Info!</strong> You don't have any repositories yet.
    </div>
  {% endif %}

  <div class="no-results">
     <h1>No results found</h1>
     <img src="../static/images/sad-face.svg" alt="No results found" class="img-no-results">
  </div>
</div>

{% endblock %}