{% extends 'base.html' %}

{% block title %}Invitations{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_invitations.css') }}">

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/invitations.js') }}" defer></script>
{% endblock %}

{% block content %}

<div class = "container">

    <div class="content-header">
        <button class="btn btn-back" id="backButton">
            <span>
                <img src="{{ url_for('static', filename='images/arrow-left2.svg')}}" alt="back-arrow" class="img-back">
                BACK
            </span>
        </button>
        <h1>Invitations</h1>
    </div>

    <br/>
    {% if not invitations %}

    <div class="no-results">
        <h1>No invitations found</h1>
        <img src="../static/images/sad-face.svg" alt="No results found" class="img-no-results">
    </div>
    
    {% else %}


    <div class="invitations-container">
        <div class="invitation-header">
            <div class="column"><h1>Project</h1></div>
            <div class="column" id="inviter"><h1>Inviter</h1></div>
            <div class="column"><h1>Date</h1></div>
            <div class="column"><h1>Inviter's Avatar</h1></div>
            <div class="column" id="buttons"><h1>Actions</h1></div>
        </div>
        <div class="separator"></div>
        <br />
        {% for invitation in invitations %}
            <div class="invitation" id="invitation-{{ invitation['repository'] }}">
                <div class="invitation-header">
                    <div class="column"> <h1>{{ invitation['repository'] }}</h1></div>
                    <div class="column" id="inviter"><h1>{{ invitation['inviter']}}</h1></div>
                    <div class="column"><h1>{{ invitation['date']}}</h1></div>
                    <div class="column">
                        <div class="image-inviter">
                            <img class="profile-pic-inviter" src="{{ invitation['avatar']}}">
                        </div>
                    </div>
                    
                    <div class="column" id="buttons">
                        <button class="btn btn-accept" id="{{invitation['repository']}}">Accept</button>
                        <button class="btn btn-decline" id ="{{invitation['repository']}}">Decline</button>
                    </div>
                    
                </div>
            

            </div>

            <div class="separator"></div>
        {% endfor %}

    

    {% endif %}
</div>

{% endblock %}