{% extends 'base.html' %}


{% block title %}{{repo}}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="../static/css/style_repo.css">
{% endblock %}

{% block js %}
<script src="../static/js/repo.js" defer></script>
{% endblock %}

{% block content %}



<div class="top-options">
    <div class="buttons-left">
        <button class="btn btn-back" id="backButton">
            <span>
                <img src="../static/images/arrow-left2.svg" alt="back-arrow" class="img-back">
                BACK
            </span>
        </button>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" data-search>
        <button class="btn btn-add-people" id="addPeople">ADD PEOPLE</button>
        <button class="btn btn-settings" id="settings">SETTINGS</button>
    </div>
    
    <button class="btn btn-refresh" id="refresh">
        <img src="../static/images/refresh2.svg" alt="Refresh" class="img-refresh">
    </button>
</div>



{% endblock %}