{% extends 'base.html' %}


{% block title %}{{title}}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_repo.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_new_window.css') }}">

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/repo.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/clone.js') }}" defer></script>
{% endblock %}

{% block content %}



<div class="top-options">
    <div class="buttons-left">
        <button class="btn btn-back" id="backButton">
            <span>
                <img src="{{ url_for('static', filename='images/arrow-left2.svg')}}" alt="back-arrow" class="img-back">
                BACK
            </span>
        </button>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" data-search>
        <button class="btn btn-add-people" id="addPeopleButton">ADD PEOPLE</button>
        <button class="btn btn-clone" id="cloneButton">SYNCHRONIZE</button>
        <!-- <button class="btn btn-update-ghub" id="updateGhubButton">UPDATE FROM GITHUB</button>
        <button class="btn btn-update-fs" id="updateFSButton">UPDATE FROM LOCAL SYSTEM</button> -->
    </div>
    
    <!-- <button class="btn btn-refresh" id="refresh">
        <img src="{{ url_for('static', filename='images/refresh2.svg')}}" alt="refresh" class="img-refresh">
    </button> -->
    <button class="btn btn-refresh" id="refresh">
        <img src="{{ url_for('static', filename='images/ghubrefresh.svg')}}" alt="refresh" class="img-refresh">
    </button>
</div>

<br />

<div class="container">
    <h1>{{whole_path}}</h1>
    <h1>Last Updated: {{last_updated}}</h1>
    <div class="grid-container"> 
        {% if folders %}
        {% for folder in folders %}
            <div class="content-box" id="folder" name="{{ folder[0] }}" id="folder">
                <img src=" {{ url_for('static', filename='images/folder.svg')}}" class="img-content"> 
                <h1>{{ folder[0] }}</h1> 
                <h2>{{ folder[1] }}</h2>       
            </div>
        {% endfor %}
        {% endif %}

        {% if files %}
            {% for file in files %}
                {% if file[2] == True %}
                <div class="content-box-new" name="{{ file[0] }}">
                    <img src="{{url_for('static', filename='images/file-regular.svg')}}" class="img-content">
                    <h1>{{ file[0] }}</h1>     
                    <h2>{{ file[1] }}</h2>   
                </div>
                {% else %}
                <div class="content-box" name="{{ file[0] }}">
                    <img src="{{url_for('static', filename='images/file-regular.svg')}}" class="img-content">
                    <h1>{{ file[0] }}</h1>     
                    <h2>{{ file[1] }}</h2>   
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        
        <form class="dropzone" id="add-file">
            <div class="content-box" name="" id="new-file">
                <img src="{{url_for('static', filename='images/upload-solid.svg')}}" class="img-content-new">
                <h2>Drag new file</h2>
            </div>
        </form>

    </div> 
    

    <div class="no-results">
        <h1>No results found</h1>
        <img src="{{ url_for('static', filename='images/sad-face.svg')}}" alt="No results found" class="img-no-results">
     </div>

</div>

<!-- to upload clicking the drag and drop div -->
<input type="file" id="file-input" style="display: none;">

<!-- to 'clone' the repository -->
<div id="modal-content" class="hide">
    <div class="modal-row">
        <h2>SYNCHRONIZE</h2>
    </div>
    <div class="modal-row">
        <p>This repository will be synchronized with your local system</p>
    </div>
    <div class="modal-row">
        <p>This means the changes done in the repository at your file system will be shown here</p>
    </div>
    <div class="absolutePath">
        <input type="text" id="path" placeholder="Absolute Path (e.g. C:\Users\User\Dir)" class="form-control">
    </div>
    <div class="modal-row">
    <div class="modal-footer">
    <button class="btn ok" id="ok">OK</button>
    <button class="btn back" id="back">Back</button>
    </div>
    </div>
    </div>
</div>



{% endblock %}