{% extends 'base.html' %}


{% block title %}{{repo}}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="../static/css/style_repo.css">
{% endblock %}

{% block js %}
<script src="../static/js/repo.js" defer></script>
{% endblock %}

{% block content %}



<div class="top-options">
    <div class="buttons-left">
        <button class="btn btn-back" id="backButton">
            <span>
                <img src="../static/images/arrow-left2.svg" alt="back-arrow" class="img-back">
                BACK
            </span>
        </button>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" data-search>
        <button class="btn btn-add-people" id="addPeople">ADD PEOPLE</button>
        <button class="btn btn-settings" id="settings">SETTINGS</button>
    </div>
    
    <button class="btn btn-refresh" id="refresh">
        <img src="../static/images/refresh2.svg" alt="Refresh" class="img-refresh">
    </button>
</div>

<br />

<div class="container">
    <h1>Last Updated: {{last_updated}}</h1>
    <div class="grid-container"> 
        {% if folders %}
        {% for folder in folders %}
            {% if folder[2] == True %}
            <div class="content-box-new" name="{{ folder[0] }}" id="folder">
                <img src="../static/images/folder.svg" class="img-content"> 
                <h1>{{ folder[0] }}</h1> 
                <h2>{{ folder[1] }}</h2>       
            </div>
            {% else %}
            <div class="content-box" name="{{ folder[0] }}" id="folder">
                <img src="../static/images/folder.svg" class="img-content"> 
                <h1>{{ folder[0] }}</h1> 
                <h2>{{ folder[1] }}</h2>       
            </div>
            {% endif %}
        {% endfor %}
        {% endif %}

        {% if files %}
        {% for file in files %}
            {% if file[2] == True %}
            <div class="content-box-new" name="{{ file[0] }}">
                <img src="../static/images/file-regular.svg" class="img-content"> 
                <h1>{{ file[0] }}</h1>     
                <h2>{{ file[1] }}</h2>   
            </div>
            {% else %}
            <div class="content-box" name="{{ file[0] }}">
                <img src="../static/images/file-regular.svg" class="img-content"> 
                <h1>{{ file[0] }}</h1>     
                <h2>{{ file[1] }}</h2>   
            </div>
            {% endif %}
        {% endfor %}
        {% endif %}
    </div> 

    {% if not folders and not files %}
        <div class="alert alert-info" role="alert">
            <strong>Info!</strong> This repository is empty.
        </div>
    {% endif %}

    <div class="no-results">
        <h1>No results found</h1>
        <img src="../static/images/sad-face.svg" alt="No results found" class="img-no-results">
     </div>

</div>






{% endblock %}